.footer-container {
  background-color: #222;
  color: #eb7907;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  color: #e15402;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: #ea7208;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-socials h3,
.footer-contact h3,
.footer-newsletter h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-socials a {
  display: block;
  margin-bottom: 5px;
  color: #ea7208;
  text-decoration: none;
}

.footer-socials a:hover {
  color: #4caf50;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-newsletter form {
  display: flex;
  flex-direction: column;
}

.newsletter-input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-button {
  padding: 10px;
  background-color: #4caf50;
  color: #ed7905;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #d49073;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

.footer-bottom a {
  color: #957406;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
